<% if tip.draft? %>
  下書き保存中
<% end %>

<% if tip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

    <ul>
    <% tip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :contents %>
  <%= form.text_area :contents %>
</div>

<div class="actions">
  <%= form.submit "保存", name: :save_btn %>
  <%= form.submit "下書き保存", name: :draft_btn %>
</div>
