.container
  = link_to '新規作成', new_admin_tip_path if current_user.present? && current_user.try(:admin?)

  %h1 Tips
  .col-md-12.col-xs-12
    .row
      - @tips.each do |tip|
        .col-md-4.col-xs-12
          .card
            .card-body
              %h2.card-title
                = tip.title
              %p.card-text
                = tip.contents
              %a.card-link
                = link_to 'Show', admin_tip_path(tip)
                - if current_user.present? && current_user.admin?
                  = link_to 'Delete', admin_tip_path(tip), method: :delete, data: {confirm: "本当に削除しますか？"}

              - if tip.draft?
                %span.badge.badge-secondary
                  = "下書き"
