<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tip.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @tip.to_html %>
</p>

<%= link_to 'Edit', edit_admin_tip_path(@tip) if current_user.present? && current_user.admin? %>
<%= link_to 'Back', admin_tips_path %>
