- set_meta_tags title: @tip.title,
                description: @tip.description,
                og: { title: :title,
                      url: request.original_url,
                      description: :description }
.container
  .contents_wrap
    %h1.post_title
      = @tip.title
    .icon_group
      = link_to tips_path, class: "icon_link" do
        %i.fas.fa-angle-left
    #tip_wrap.contents
      %p.post_desc
        = @tip.description
      = @tip.to_html
    = render "sns_links"
