- set_meta_tags title: @tip.title,
                description: @tip.description,
                og: { title: :title,
                      url: request.original_url,
                      description: :description }

%body
  .bodyContent
    %header.siteHeader
      .wrap
        %figure.siteHeader__logo
          = link_to image_tag("tips/logo.svg", width: 220), root_path
    / ***** main visual
    %section.postTitle
      .wrap
        %h1.postTitle__index
          = @tip.title
    %main.mainContent
      .wrap
        / ***** Article
        %article.article
          .article-contents
            = @tip.to_html
          / *** sns
          %aside.article__footer
            %ul.article__sns
              %li
                = link_to "", "https://twitter.com/share?text=#{@tip.title}&url=#{tip_url(@tip)}", {class: "icon-twitter", rel: "noflow",  onClick: "window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"}
              %li
                = link_to "", "http://getpocket.com/edit?url=#{tip_url(@tip)}&title=#{@tip.title}", {class: "icon-pocket", data: {lang: "en", "pocket-count": "horizontal", "pocket-label": "pocket"}, onclick: "window.open(this.href, 'PCwindow', menubar=no, toolbar=no, scrollbars=yes'); return false;"}
              %li
                = link_to "", "http://b.hatena.ne.jp/add?mode=confirm&url=#{tip_url(@tip)}&title=#{@tip.title}", {class: "icon-hatena", rel: "noflow"}
                %script{:async => "async", :charset => "utf-8", :src => "https://b.st-hatena.com/js/bookmark_button.js", :type => "text/javascript"}
            / ** back
            %footer.article__back
              .button.-secondary
                = link_to "一覧に戻る", root_path
            / //
          / ///
        / /////
        / ***** ad
        .ad.ad--article
          %a{:href => ""}
            %img{:alt => "", :src => "https://s.yimg.jp/images/bank/campaign/201806/bn/580_508.png"}/
        / /////
        / ***** Other
        %section.relatedPosts
          %h2.relatedPosts__index
            その他のTips
          %ul.panels
            - @tips.each do |tip|
              %li.panel
                = link_to tip_path(tip), class: 'panel__wrap' do
                  %h2.panel__index
                    = tip.title
            %li.panel.-ad
              %a.panel__wrap{:href => ""}
                %h2.panel__index
                  やばい広告やばい広告やばい広告やばい広告やばい広告
                %ul.panel__tags
                  %li Array
                  %li Array
          / /////
  %footer.siteFooter
    .wrap
      %ul.siteFooter__sns
        %li.tw
          %a.icon-twitter{:href => ""}
      .siteFooter__copy
        (c) Tips_room.js All.righTs  reserved.
  %i.siteBg
