!!!
%html
  %head
    %title TipsRoomJs
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'project/public/application', media: 'all'
    = javascript_include_tag 'application'
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    - if notice
      %p.notice= notice
    - elsif alert
      %p.alert= alert
    = yield
