!!!
%html
  %head
    %title TipsRoomJs
    = csrf_meta_tags
    = csp_meta_tag
    = render :partial => "layouts/meta_tags"
    = stylesheet_link_tag 'static/application', media: 'all'
    = javascript_include_tag 'application'
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    = yield
